<body onLoad="initialize()">

  <h1>Google Maps Directions</h1>

  <div id="map_canvas" style="width:100%; height:300px"></div>

  <form action="#" onSubmit="calcRoute();return false;" id="routeForm">
    <label>
      From: <br />
      <input type="text" id="routeStart" value="Dortmund">
      <a href="#" class="autoLink" style="display: none;">Use current location: <span>not found</span></a>
    </label>

    <label>
      To: <br />
      <input type="text" id="routeEnd" value="Hagen">
    </label>
    
    <label><input type="radio" name="travelMode" value="DRIVING" checked /> Driving</label>
    <label><input type="radio" name="travelMode" value="BICYCLING" /> Bicylcing</label>
    <label><input type="radio" name="travelMode" value="TRANSIT" /> Public transport</label>
    <label><input type="radio" name="travelMode" value="WALKING" /> Walking</label>

    <input type="submit" value="Calculate route">

  </form>

  <div id="directionsPanel">
    Enter a starting point and click "Calculate route".
  </div>

</body>
</html>
